<%= form_for @search_params, :url => search_path, :html => { :class => "form-inline" } do |f| %>
  <div class="form-group form-element col-md-12">
    <%= f.label "Location", :class => "form-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :location, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group form-element col-md-12">
    <%= f.label "Minimum Price", :class => "form-label col-md-2" %>
    <div class="col-md-4">
      <%= f.number_field :min_price, :step => "0.01", :min => "0",
                         :class => "form-control" %>
    </div>
  </div>
  <div class="form-group form-element col-md-12">
    <%= f.label "Maximum Price", :class => "form-label col-md-2" %>
    <div class="col-md-4">
      <%= f.number_field :max_price, :step => "0.01", :min => "0",
                         :class => "form-control" %>
    </div>
  </div>
  <div class="form-group form-element col-md-12">
    <%= f.label "Minimum Area", :class => "form-label col-md-2" %>
    <div class="col-md-4">
      <%= f.number_field :min_area, :step => "0.01", :min => "0",
                         :class => "form-control" %>
    </div>
  </div>
  <div class="form-group form-element col-md-12">
    <%= f.label "Maximum Area", :class => "form-label col-md-2" %>
    <div class="col-md-4">
      <%= f.number_field :max_area, :step => "0.01", :min => "0",
                         :class => "form-control" %>
    </div>
  </div>
  <div class="form-group form-element col-md-12">
    <%= f.label "Style", :class => "form-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :style, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group form-element"
       style="margin-left: 16px">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>

<h3>Results</h3>
<table class="table table-hover table-striped table-bordered">
  <caption>List of Houses</caption>
  <thead class="thead-dark">
  <tr>
    <th class="header">Location</th>
    <th class="header">Square Footage</th>
    <th class="header">Year Built</th>
    <th class="header">Style</th>
    <th class="header">List Price</th>
    <th class="header">Number of Floors</th>
    <th class="header">Basement</th>
    <th class="header" colspan="2">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @houses.each do |h| %>
    <tr>
      <td><%= h.location %></td>
      <td><%= h.sqft %></td>
      <td><%= h.yearbuilt %></td>
      <td><%= h.style %></td>
      <td>$<%= h.price %></td>
      <td><%= h.floors %></td>
      <td><%= h.basement ? "Yes" : "No" %></td>
      <td>
        <%= button_to "View", house_path(h), method: :get,
                      :class => "btn btn-primary" %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>